.page-interests {
    background: url('https://raw.githubusercontent.com/retrooct/MyPortfolio.github.io/main/Images/colorful_cubes.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Optional: Ensure text is readable */
    min-height: 100vh; /* Ensure the background covers the full page */
    margin: 0;
    padding: 20px;
}
